<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<title>Team Minimap</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/materialize.min.css')}}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="container">
	<div class="back row valign-wrapper" style="height: 700px;">
		<div class="play col s12">
			<div class="col s5 center-align" style="margin: 0 auto !important; float: none;">
					<div class="msg">
					</div>

				<img src="{{ url_for('static', path='img/emergency.png')}}" style="height: 100px; margin-bottom: 5px;">
				<h2>Welcome</h2>

				<form id="myForm" class="" action="/instructions-fov" method="POST" name="myForm" onsubmit="return validateForm()">
					<div class="form-group">
						<div class="col s10">
							<input type="text" required autofocus id="uid" name="uid" class="form-control" placeholder=" Enter your user id">
							<input type="hidden" id="session" name="session" value="1" />
						</div>
						<div class="col s2">
							<button class="btn-floating btn-large waves-effect waves-light" type="submit"><i class="material-icons">send</i></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>


function validateForm() {
  var x = document.forms["myForm"]["uid"].value;
  if (x == "") {
    alert("Name must be filled out!");
    return false;
    alert.className += 'alt';
  }
}
</script>
</body>
</html>
